<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <link rel="icon" href="data:,">
</head>

<body>